html {
  background-color: hsla(0,0%,97%,1) !important;
}
.App {
  text-align: center;
  background-color: #cdcdcd !important;
  background-color: hsla(0,0%,97%,1) !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  margin: 0;
  padding: 0;
}
.App h1,h5 {
}
.App h1 {
  color: #007ea2;
  font-size: 3.2em;
  font-family: 'raleway';
}
.App h5 {
  color: #569eb6;
  font-size: 1.2em;
  font-family: sans-serif;
}
#root {
  font-family: 'roboto slab';
}
.list-group {
  /* background-color: #cdcdcd !important; editing color here does NOT work, it has to be on list-group-item */
}
.list-group-item {
  font-family: 'roboto slab';
  border: 0px;
  background-color: hsla(0,0%,97%,1) !important;
}
.list-group-item h3{
  font-size: 1.1em;
  margin: 0 0 16px 0;
}
.list-group-item .single-song-wrapper {
  border: 1px solid gainsboro;
  background-color: hsla(0,0%,92%,1);
  display: inline-block;
  padding: 7px 10px;
  color: dimgray;
}

